:host {
  display: block;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

tq-site-content {
  flex: 1;
}

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
