<mat-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="end center">
    <div>{{ id }}</div>
    <button mat-icon-button (click)="delete.next()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <mat-list>

      <mat-list-item>
        <mat-icon matListIcon>{{ icons.trainingDate }}</mat-icon>
        <h3 matLine>{{ trainingDate | date: 'shortDate' }} </h3>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListIcon>{{ icons.trainingDurationInSeconds }}</mat-icon>
        <h3 matLine>{{ trainingDurationInSeconds }}</h3>
      </mat-list-item>
    </mat-list>
    <mat-icon>

    </mat-icon>
  </mat-card-content>
</mat-card>
